<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Testing Functions for FitFriends App</title>
  <link rel="stylesheet" href="node_modules/qunitjs/qunit/qunit-1.15.0.css">
</head>
<body>
  <div id="qunit"></div>
  <div id="qunit-fixture"></div>
  <script src="../node_modules/qunitjs/qunit/qunit-1.15.0.js"></script>
  <script src="../routes/fitfix.js"></script> 
  <script src="../routes/group.js"></script>
  <script src="../routes/index.js"></script>
  <script src="../routes/users.js"></script>
  <script src="../public/test/tests.js"></script>
</body>
</html>