<div id="search" data-user-id = {{currentUser_id}}>
	<div id="search">
		<div class = "page-header">
		    <h1> Search for FitFixes</h1>
		</div>
	</div>
	<div class="error">
		{{#if error}}
			{{error}}
		{{/if}}
	</div>
	  {{!-- Form to complete to search for a FitFix. Only search through a set of types with a set of times (in the future) --}}
	<div class="form-error">
		{{#if form-error}}
			{{form-error}}
		{{/if}}
	</div>
	<form id="search-fitfix-form" class="form-inline">
		<div class="form-group">
		    <label for="search-fitfix-type">Fitness Type</label>
		    <select name="type" id="search-fitfix-type" class="form-control" required>
				<option value="Any">Any</option>
				<option value="Running">Running</option>
                  <option value="Swimming"> Swimming </option>
                  <option value="Yoga"> Yoga </option>
                  <option value="GroupExercise"> Group Exercise </option>
                  <option value="RaquetSports"> Raquet Sports </option>
                  <option value="TeamSports"> Team Sports </option>
                  <option value="Other">Other</option>
		    </select>
		</div>
		<div class="form-group">
			<label for="search-startTime">Start Time</label>
			<input type="datetime-local" name="searchStartTime" id="search-startTime" class="form-control" required />
		</div>
		<div class="form-group">
			<label for="search-endTime">End Time</label>
			<input type="datetime-local" name="searchEndTime" id="search-endTime" class="form-control" required />
		</div>
		<button type="button" class="btn edit-btn" id="search-fitfix-btn">Search</button>
	</form>

	<div id= "fitfix-item">
	  {{#each fitfix}}
	    {{> fitfix-preview}}
	  {{/each}}
	</div>
</div>