<div id="welcome">
	<div class = "page-header jumbotron">
		<h1> Welcome to FitFriends</h1>
        <p>This is a platform for you to find fun fitness activities and other MIT students to do them with. 
        Simply sign up with your MIT email address and start posting and commiting to events!</p>
        <p>Let's get started:</p>
        <div class="nav nav-pills">
	 	<li><button class="btn btn-default" id = "signup-btn"> Signup</button></li>
	  	<li><button class="btn btn-default" id="login-btn"> Login</button> </li>
	</div>
	</div>

</div>